html {
    min-height: 100%;
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    background: linear-gradient(to bottom right, #3D4258, #6670A0, #9688B4);
    line-height: 1.5;
    text-align: center;
    height: 100vh;
}

h1 {
    font-weight: 200;
    font-size: 3rem;
    color: white;
    text-align: center;
}

.slider {
    position: relative;
    display: flex;

    justify-content: center;
}

.slider>div {
    position: absolute;
}